html {
    box-sizing: border-box;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  max-height: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: beige;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  text-align: left;
  margin-bottom: 5%;
}

input {
  margin-bottom: 5%;
}

textarea {
  resize: none;
}

.btn {
  margin-top: 5%;
  padding: 10px;
  border: 1px solid black;
  background-color: blanchedalmond;
  transition: background-color 0.4s;
  cursor: pointer;
}

.error__mesage {
  text-align: center;
  color: red;
  display: none;
}